@import url('./reset.css');

:root {
  --body-bg-color: #202224;
  --body-color: #e8e9e0;
  --timer-bg-color: #303234;
}

/* html */
body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
}

/* class */
.center {
  display: grid;
  place-content: center;
  height: 100vh;
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.grid {
  display: grid;
  place-content: center;
}

.timer {
  background-color: var(--timer-bg-color);
  border-radius: 25px;
  font-size: 20px;
  inset: 45px 45px auto auto;
  padding: 10px 15px;
  position: fixed;
}
